@font-face {
    font-family: 'Arcana';
    src: url('../font/Arcana.ttf');
}

html, body {
    background-color: black;
    color: white;
    width: 100%;
    font-size: 18px;
    height: 100%;
    min-height: 100%;
}

.arcana {
    font-family: 'Arcana', serif;
}

.signika {
    font-family: 'Signika', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #01B3E2;
}

#wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/* header */

#header {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
}

/* footer */

#footer {
    text-align: center;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}